@model NotificationCommon.Models.Template

<h2>Add Template</h2>

<h4>Notification Portal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Templates" asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NotificationName" class="control-label"></label>
                <input asp-for="NotificationName" class="form-control" />
                <span asp-validation-for="NotificationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationText" class="control-label"></label>
                <input asp-for="NotificationText" class="form-control" />
                <span asp-validation-for="NotificationText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationPriority" class="control-label"></label>
                <input asp-for="NotificationPriority" class="form-control" />
                <span asp-validation-for="NotificationPriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Templates">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}