@model RegularSendout

<h2>Add Sendout</h2>

<h4>Notification Portal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="RegularSendouts" asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReminderName" class="control-label"></label>
                <input asp-for="ReminderName" class="form-control" />
                <span asp-validation-for="ReminderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepetitionFrequency" class="control-label"></label>
                <select asp-for="RepetitionFrequency" asp-items= "Html.GetEnumSelectList<Enums.RepetitionFrequency>()" class="form-control"></select>
                <span></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutionTime" class="control-label"></label>
                <select asp-for="ExecutionTime" asp-items= "Html.GetEnumSelectList<Enums.ExecutionTime>()" class="form-control"></select>
                <span></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfTheWeek" class="control-label"></label>
                <select asp-for="DayOfTheWeek" asp-items= "Html.GetEnumSelectList<Enums.DayOfTheWeek>()" class="form-control"></select>
                <span></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameters" class="control-label"></label>
                <input asp-for="Parameters" class="form-control" />
                <span asp-validation-for="Parameters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGroup" class="control-label"></label>
                <input asp-for="UserGroup" class="form-control" />
                <span asp-validation-for="UserGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RegularSendouts">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}